* {
    margin: 0;
    padding: 0px;
    border: none;
    font-family: "Ubuntu Sans", sans-serif;
}

.reset-button {
    font-size: 12px;
    font-weight: 500;
    background-color: black; 
    color: #e31826;
  
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
  
    border-radius: 4px;
    cursor: pointer;
} 


.primul-tab{
    font-size: 12px;
    font-weight: 500;
    background-color: #112993; 
    color: #ffffff;
  
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
  
    border-radius: 4px;
    cursor: pointer;
}

.primul-paragraf{
    color: #dc0f12;
}

.al-doilea-tab{
    font-size: 12px;
    font-weight: 500;
    background-color: rgb(209, 193, 16); 
    color: #ffffff;
  
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
  
    border-radius: 4px;
    cursor: pointer;
}

.al-doilea-paragraf{
    display: none;
    color: rgb(209, 193, 16); 
}

.al-treilea-tab{
    font-size: 12px;
    font-weight: 500;
    background-color: #dc0f12;
    color: #ffffff;
  
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
  
    border-radius: 4px;
    cursor: pointer;
}

.al-treilea-paragraf{
    display: none;
    color: #112993;
}

.tab-content-paragraf{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    max-width: 400px;
    padding: 24px;
}

.active-tab{
    border-color: black;
    border-width: 4px;
    border-style: solid;
}

.content-more-unu{

}

.lorem-content-unu{
    display: none;
}

.content-more-doi{

}

.lorem-content-doi{
    display: none;
}

.content-more-trei{

}

.lorem-content-trei{
    display: none;
}

.less-content-more-unu{
    display: none;
}

.less-content-more-doi{
    display: none;
}

.less-content-more-trei{
    display: none;
}